{# app/Resources/views/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <p>LuckyNumbers: {{ luckyNumberList }}</p>


    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}


<h1>Form values</h1>

{% if name is not null %}

    <p>Name: {{ name }}</p>

{% endif %}

<div>

    <form action="" method="post" name="input">

        Name:
        <input name="name" type="text" />
        <input name="submit" type="submit" value="Submit" />

         </form>


{% endblock %}
